.services-grid {
  padding: 50px 55px 40px;
  border-radius: 30px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
  transition: var(--transition);
}

@media only screen and (max-width: 1199px) {
  .services-grid {
    padding: 50px 30px 40px;
  }
}

.services-grid:after {
  content: "";
  height: 100%;
  width: 100%;
  background: var(--gradient-dark);
  border: 1px solid;
  border-image-source: linear-gradient(
    0deg,
    #27272e 64.45%,
    rgba(74, 75, 86, 0.72) 100%
  );
  border-radius: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.services-grid .thumbnail {
  margin-bottom: 40px;
}

.services-grid .content .title a {
  color: var(--color-white);
}

.services-grid .content .title a:hover {
  color: var(--color-primary);
}

.services-grid .content p {
  color: var(--color-white);
  opacity: 0.5;
  letter-spacing: -0.025em;
}

.services-grid .content .more-btn {
  font-weight: 500;
  color: var(--color-white);
  position: relative;
}

.services-grid .content .more-btn:before {
  content: "";
  width: 0;
  height: 1px;
  background-color: var(--color-accent2);
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.services-grid:hover:after,
.services-grid.active:after {
  visibility: visible;
  opacity: 1;
}

.services-grid:hover .thumbnail::after,
.services-grid.active .thumbnail::after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.services-grid:hover .content .more-btn,
.services-grid.active .content .more-btn {
  color: var(--color-accent2);
  padding-left: 50px;
}

.services-grid:hover .content .more-btn:before,
.services-grid.active .content .more-btn:before {
  width: 34px;
  opacity: 1;
}

.services-grid.service-style-2 {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f8f8f8),
    to(rgba(255, 255, 255, 0))
  );
  background: linear-gradient(180deg, #f8f8f8 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid;
  border-image-source: linear-gradient(
    90deg,
    #ecf2f6 0%,
    rgba(236, 242, 246, 0) 70.31%
  );
  background-color: var(--color-white);
  margin-bottom: 30px;
}

.services-grid.service-style-2:after {
  display: none;
}

.services-grid.service-style-2 .content .title a {
  color: var(--color-text-dark);
}

.services-grid.service-style-2 .content .title a:hover {
  color: var(--color-primary);
}

.services-grid.service-style-2 .content p {
  color: var(--color-body);
  opacity: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.services-grid.service-style-2 .content .more-btn {
  color: var(--color-body);
}

.services-grid.service-style-2:hover,
.services-grid.service-style-2.active {
  background-color: var(--color-light);
}

.services-grid.service-style-2:hover .content .more-btn,
.services-grid.service-style-2.active .content .more-btn {
  color: var(--color-primary);
}

.services-grid.service-style-2:hover .content .more-btn:before,
.services-grid.service-style-2.active .content .more-btn:before {
  background-color: var(--color-primary);
}

.service-scroll-navigation-area {
  position: relative;
  padding-top: 90px;
}

.service-scroll-nav {
  background-color: var(--color-white);
  z-index: 3;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  padding-top: 5px;
  padding-bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.service-scroll-nav ul {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-bottom: 1px solid var(--color-mercury);
}

.service-scroll-nav ul li {
  margin: 0 10px;
}

.service-scroll-nav ul li a {
  padding: 30px 10px;
  color: var(--color-dark);
  position: relative;
}

@media only screen and (max-width: 991px) {
  .service-scroll-nav ul li a {
    padding: 26px 0;
    font-size: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .service-scroll-nav ul li a {
    padding: 10px 0;
    font-size: 15px;
  }
}

@media only screen and (max-width: 575px) {
  .service-scroll-nav ul li a {
    font-size: 14px;
  }
}

.service-scroll-nav ul li a::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: var(--color-primary);
  position: absolute;
  bottom: -1px;
  left: 0;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.service-scroll-nav ul li a:hover {
  color: var(--color-primary);
}

.service-scroll-nav ul li a:hover::after {
  width: 100%;
}

.service-scroll-nav ul li.current a {
  color: var(--color-primary);
}

.service-scroll-nav ul li.current a::after {
  width: 100%;
}