
@media only screen and (max-width: 991px) {
  .axil-sidebar {
    margin-top: 50px;
  }
}

.axil-sidebar .widget {
  margin-bottom: 80px;
}

@media only screen and (max-width: 991px) {
  .axil-sidebar .widget {
    margin-bottom: 50px;
  }
}

.axil-sidebar .widget:last-child {
  margin-bottom: 0;
}