.widget.widget-search .blog-search {
  position: relative;
}

.widget.widget-search .blog-search input {
  padding-right: 45px;
}

.widget.widget-search .blog-search input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: var(--border-lighter);
}

.widget.widget-search .blog-search input::-webkit-input-placeholder {
  color: var(--color-dark);
}

.widget.widget-search .blog-search input:-ms-input-placeholder {
  color: var(--color-dark);
}

.widget.widget-search .blog-search input::-ms-input-placeholder {
  color: var(--color-dark);
}

.widget.widget-search .blog-search input::placeholder {
  color: var(--color-dark);
}

.widget.widget-search .blog-search .search-button {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 0;
  padding: 0;
  background-color: transparent;
  font-weight: 500;
  color: var(--color-body);
}

.widget.widget-search .blog-search .search-button:before {
  content: "";
  position: absolute;
  background: var(--color-gray-4);
  height: 18px;
  width: 1px;
  left: -14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.widget.widget-categories .category-list li:first-child a {
  padding-top: 0;
}

.widget.widget-categories .category-list a {
  display: block;
  font-size: var(--font-body-1);
  color: var(--color-body);
  border-bottom: var(--border-lighter);
  padding: 18px 0;
  position: relative;
}

.widget.widget-categories .category-list a:before {
  content: "";
  height: 1px;
  width: 0;
  background-color: var(--color-primary);
  position: absolute;
  bottom: -1px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.widget.widget-categories .category-list a:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4.5px 0 4.5px 6px;
  border-color: transparent transparent transparent var(--color-dark);
  position: absolute;
  right: 0;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.widget.widget-categories .category-list a:hover {
  color: var(--color-primary);
}

.widget.widget-categories .category-list a:hover:before {
  visibility: visible;
  opacity: 1;
  width: 100%;
}

.widget.widget-categories .category-list a:hover:after {
  border-color: transparent transparent transparent var(--color-primary);
}

.widget.widge-social-share .blog-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--color-primary);
  padding: 24px 30px;
  border-radius: 16px;
}

@media only screen and (max-width: 1199px) {
  .widget.widge-social-share .blog-share {
    padding: 24px 20px;
  }
}

.widget.widge-social-share .blog-share .title {
  color: var(--color-white);
  margin-bottom: 0;
  margin-right: 25px;
}

@media only screen and (max-width: 1199px) {
  .widget.widge-social-share .blog-share .title {
    margin-right: 20px;
  }
}

.widget.widge-social-share .social-list {
  margin: 0 -10px;
}

.widget.widge-social-share .social-list li {
  display: inline-block;
}

.widget.widge-social-share .social-list li a {
  color: var(--color-white);
  padding: 5px 10px;
}

@media only screen and (max-width: 1199px) {
  .widget.widge-social-share .social-list li a {
    padding: 5px;
  }
}

.widget.widge-social-share .social-list li a:hover {
  opacity: 0.8;
}

.widget.widget-recent-post .single-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: var(--border-lighter);
}

.widget.widget-recent-post .single-post .post-thumbnail a {
  border-radius: 16px;
  overflow: hidden;
}

.widget.widget-recent-post .single-post .post-thumbnail a img {
  border-radius: 16px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.widget.widget-recent-post .single-post .post-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 20px;
}

.widget.widget-recent-post .single-post .post-content .title {
  margin-bottom: 10px;
}

.widget.widget-recent-post .single-post:hover .post-thumbnail a img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.widget.widget-recent-post .single-post:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.widget.widget-banner-ad a {
  border-radius: 20px;
}

.widget.widget-banner-ad a img {
  border-radius: 20px;
}