// @import "variables/main.scss";
// @import "mixins/main.scss";
// @import "visibility";

@import "root";
@import "elements/main.scss";
@import "templates/main.scss";
@import "block";

.main-wrapper {
  overflow: hidden;
  background-color: var(--color-white);
}
.enlighter-default {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.active-dark-mode .enlighter-default {
  background-color: var(--dark-title-light) !important;
}

.active-dark-mode .enlighter-default div.enlighter > div {
  background-color: var(--dark-title-light);
}

.active-dark-mode .enlighter-default div.enlighter > div span.enlighter-text {
  color: var(--dark-bg-color);
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  text-transform: capitalize;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  article h2 {
    font-size: 48px;
  }
}

.active-light-mode article {
  color: var(--color-text-dark);
}

.active-dark-mode article a mark {
  color: var(--color-blue-shade) !important;
}

li.comment {
  list-style: none;
}

#comment,
#author,
#email,
#url {
  margin-top: 10px;
  color: #1d1d1d;
  font-family: "Luicida Console", "Courier New", "Courier", monospace;
  border: #000000 solid 1px;
}











